# Source files (since we're shipping the dist folder)
src/

# Tests
tests/
jest.config.js
coverage/
dist-test/
*.spec.ts
*.test.ts

# Configuration files
tsconfig*.json
.editorconfig
.eslintrc*
.prettierrc*
.travis.yml
.github/

# Development folders
examples/
docs/
scripts/

# Example build outputs
dist-example/

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
tmp/
temp/
local/ 